#header-items {
    background: white;
}

.bar-name {
    margin-left: 0;
}

#left-bar {
    margin-top: 20px;
    width: auto;
    padding-left: 0;
}

#left-bar a:hover {
    text-decoration: none;
}

#left-bar #room-info {
    padding: 25px 25px 25px 21px;
    width: 240px;
    height: auto;
    border: none;
    border-radius: 7px;
    background-color: white;
}

#left-bar #room-info .bar-name {
    margin-left: 0;
    font-weight: 400;
}

#left-bar #room-info .bar-title {
    margin-bottom: 20px;
}

#left-bar #room-info .bar-subtitle {
    margin-bottom: 20px;
}

#left-bar #room-info .genres {
    padding: 0;
}

#left-bar #room-info .genres li {
    display: inline-block;
    padding: 8px;
    border-radius: 3px;
    margin: 2px;
    margin-left: 0;
    background: #f4f5f6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y0ZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VjZWZmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VmZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f4f5f6 0%, #f4f5f6 50%, #eceff0 50%, #eceff0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f5f6), color-stop(50%, #f4f5f6), color-stop(50%, #eceff0), color-stop(100%, #eceff0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f5f6 0%, #f4f5f6 50%, #eceff0 50%, #eceff0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f5f6 0%, #f4f5f6 50%, #eceff0 50%, #eceff0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f5f6 0%, #f4f5f6 50%, #eceff0 50%, #eceff0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f5f6 0%, #f4f5f6 50%, #eceff0 50%, #eceff0 100%); /* W3C */
    color: #43545d;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#eceff0', GradientType=0 ); /* IE6-8 */
}

#left-bar #room-info .genres li a {
    display: block;
    color: #43545d;
}

#left-bar #room-info .genres li a:hover {
    color: #43545d;
    text-decoration: none;
}

#collapse-about-musilla .glyphicon {
    top: 0;
    margin: 1px 9px;
}

#left-bar #room-info .game-level {
    margin-top: 24px;
    margin-bottom: 15px;
    display: inline-block;
}

#left-bar #room-info .game-level .title {
    font-weight: 800;
    float: left;
}

#left-bar #room-info .game-level .chart {
    margin: 1px 9px;
    width: 17px;
    float: left;

}

#left-bar #room-info .game-size .title {
    font-weight: 800;
}

#left-bar #room-info .game-size {
    margin-bottom: 30px;
}

#left-bar #room-info .author {
    height: 20px;
}

#left-bar #room-info .author .avatar {
    float: left;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#left-bar #room-info .author .avatar img {
    width: 100%;
    height: 120%;
}

#left-bar #room-info .author p {
    margin-top: 2px;
    margin-left: 8px;
}

#left-bar #room-info .author p, .room-content .author .by-who {
    float: left;
    color: #43545d;
    text-transform: none;
    font-weight: 400;
    font-size: 11px;
}

#messenger {
    position: relative !important;
    margin-bottom: 30px;
    box-shadow: none;
    z-index: 600;
}

#messenger .header {
    height: 68px;
    background-color: #1fae5b;
    cursor: default;
    font-size: 13px;
    color: white;
    font-weight: 300;
}

#messenger .messages {
    width: 100%;
    background-color: white;
    height: calc(100% - 118px);
    position: relative;
    padding: 20px;
}

#messenger hr {
    background: #f0f2f4;
    height: 0;
    width: 100%;
    margin: 0;
    margin-top: calc(100% + 13px);
}

#main-content {
    height: 668px;
    margin-top: 20px;
    border-radius: 7px;
    padding-top: 25px;
    background-image: url(../images/game-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

#main-content .header * {
    display: inline-block;
}

#main-content .header a {
    color: inherit;
}

#main-content .header a:hover {
    text-decoration: none;
    color: inherit;
}

#main-content .header .invite-others {
    float: left;
    height: 48px;
    width: 48px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: transparent;
    color: white;
    padding-top: 13px;
    border-radius: 50%;
    text-align: center;
    margin-top: -13px;
}

#main-content .header .invite-others:hover {
    border: 2px solid white;
    background-color: white;
    color: #25333c;
    cursor: pointer;
}

#main-content .header .playing-extract {
    color: white;
    font-size: 19px;
    width: calc(100% - 96px);
    text-align: center;
}

#main-content .header .settings {
    float: right;
    height: 48px;
    width: 48px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: transparent;
    color: white;
    padding-top: 13px;
    border-radius: 50%;
    text-align: center;
    margin-top: -13px;
}

#main-content .header .settings:hover {
    border: 2px solid white;
    background-color: white;
    color: #25333c;
    cursor: pointer;
}

#main-content .song-duration {
    margin: 0 auto;
    width: 204px;
    height: 204px;
    margin-top: 142px;
    position: relative;
    z-index: 5;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .7);
    -moz-box-shadow: 0 8px 30px rgba(3, 6, 8, .25);
    -webkit-box-shadow: 0 8px 30px rgba(3, 6, 8, .25);
    box-shadow: 0 8px 30px rgba(3, 6, 8, .25);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzMDUwNyIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTM2NDZkIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, rgba(3, 6, 8, .3) 0%, rgba(83, 100, 109, .3) 100%);
    background-image: -o-linear-gradient(bottom, rgba(3, 6, 8, .3) 0%, rgba(83, 100, 109, .3) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(3, 6, 8, .3) 0%, rgba(83, 100, 109, .3) 100%);
    background-image: linear-gradient(bottom, rgba(3, 6, 8, .3) 0%, rgba(83, 100, 109, .3) 100%);

}

#main-content .song-duration canvas {
    margin-left: -6px;
    margin-top: -5px;
}

#main-content .song-duration input.dial {
    font-family: 'Roboto Slab', serif !important;
    font-weight: 100 !important;
    font-size: 60px !important;
    margin-left: 45px !important;
    margin-top: -150px !important;
}

#main-content .likes {
    width: 242px;
    height: 98px;
    padding: 15px 40px;
    bottom: 138px;
    position: absolute;
    border-top: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    margin: 0 auto;
    left: 0;
    right: 0;
}

#main-content .likes .like, #main-content .likes .dislike {
    float: left;
    height: 42px;
    width: 42px;
    border: none;
    background: transparent;
    font-size: 42px;
    color: white;
    padding: 0;
}

#main-content .likes .divide {
    height: 34px;
    width: 2px;
    background-color: rgba(255, 255, 255, .2);
    float: left;
    margin: 10px 38px;
}

#main-content .likes .counter {
    height: 20px;
    position: absolute;
    margin-top: 50px;
    width: 155px;
    font-size: 16px;
    color: white;
}

#main-content .likes .counter .like-counter {
    float: left;
}

#main-content .likes .counter .dislike-counter {
    float: right;
}

#main-content .answer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 7px 7px;
    width: 100%;
    background-color: white;
    height: 94px;
    padding: 20px;
}

#main-content .answer input {
    width: calc(100% - 104px);
    height: 24px;
    background: white;
    border-radius: 0 0 0px 7px;
    border: none;
    margin-top: 13px;
    font-size: 18px;
    color: #84939b;
}

#main-content .answer input:focus {
    outline: none;
}

#main-content .answer .submit {
    width: 64px;
    height: 54px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #1fad5b;
    border: none;
    float: right;
    color: white;
}

#main-content .answer .submit:hover {
    background-color: #21bb62;
}

#main-content .answer .submit:active {
    background-color: #1da154;
    color: #8ed0aa;
}

/*score board styles*/
#score-board {
    height: 670px;
    width: 100%;
}

#score-board .title {
    height: 59px;
    margin-left: -20px;
    padding: 25px 20px 15px;
    color: #0e171d;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
}

#score-board .user {
    width: 240px;
    height: 60px;
    margin-left: -20px;
    padding: 15px 20px;
}

#score-board .user:hover {
    background-color: #f0f2f4;
    cursor: pointer;
}

#score-board .user > div {
    display: inline-block;
    float: left;
}

#score-board .user .avatar {
    margin-top: 1px;
    margin-right: 10px;
}

#score-board .user .avatar img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
}

#score-board .user .info {
    margin-top: -3px;
}

#score-board .user .info .songs, #score-board .user .info .scores {
    float: left;
    color: #43535d;
    font-size: 11px;
}

#score-board .user .info .name {
    color: #0d171d;
    font-size: 14px;
}

#score-board .user .sign {
    color: #25b05f;
    margin-top: 5px;
    float: right;
}

.userProfileCard {
    margin-left: -30px !important;
    margin-top: -40px;
    width: 310px;
    height: 140px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: -8px 0 20px rgba(3, 6, 8, .2);
    -moz-box-shadow: -8px 0 20px rgba(3, 6, 8, .2);
    box-shadow: -8px 0 20px rgba(3, 6, 8, .2);
    padding: 22px;
    max-width: 310px !important;
}

.userProfileCard .avatar {
    float: left;
    width: 96px;
    height: 96px;
    margin-right: 18px;
}

.userProfileCard .avatar img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
}

.userProfileCard .info {
    float: left;
}

.userProfileCard .info .name {
    font-size: 19px;
    color: #0d171d;
}

.userProfileCard .info .scores {
    font-size: 14px;
    color: #0d171d;
}

.userProfileCard .info .additional-info {
    font-size: 14px;
    color: #43535d;
}

.userProfileCard .info .additional-info .country-flag {
    margin-right: 10px;
}

.userProfileCard .friends {
    width: 105px;
    height: 22px;
    float: left;
    margin-top: 7px;
}

.userProfileCard .friends .show-friends {
    width: 65px;
    height: 22px;
    border-radius: 3px;
    background-color: #d3d9dd;
    border: none;
    color: #43535d;
    font-size: 11px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    float: left;
}

.userProfileCard .friends .more {
    width: 34px;
    height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    border: solid 2px #d3d9dd;
    color: #43535d;
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    float: right;
    padding: 0 !important;
}

.userProfileCard .friends .more:hover {
    background-color: #d3d9dd;
}

.userProfileCard .friends .more:active {
    background-color: #bac4c9;
    color: #84939b;
    border: solid 2px #bac4c9;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.userProfileCard .popover-content {
    padding: 0;
}

.more-actions {
    width: 128px;
    height: 46px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, .95);
    -moz-box-shadow: 0 1px 1px rgba(3, 6, 8, .1), 0 0 0 1px rgba(3, 6, 8, .04);
    -webkit-box-shadow: 0 1px 1px rgba(3, 6, 8, .1), 0 0 0 1px rgba(3, 6, 8, .04);
    box-shadow: 0 1px 1px rgba(3, 6, 8, .1), 0 0 0 1px rgba(3, 6, 8, .04);
    padding: 15px 20px;
    margin-left: -71px;
    border: 1px solid #eeefef;
}

.more-actions .arrow {
    display: none;
}

.more-actions .popover-content {
    padding: 0;
}

.more-actions a {
    margin-right: 20px;
    float: left;
    color: #53646d;
}

.more-actions a:hover {
    color: #25333c;
}

.more-actions a:last-child {
    margin-right: 0;
}

/*played songs*/
#played-songs {
    width: 940px;
    height: 200px;
    padding: 20px 0;
    background-color: white;
    position: relative;
    float: left;
    border-radius: 7px;
    margin-top: 20px;
    overflow: hidden;
}

#played-songs #left {
    float: left;
    height: calc(100% + 40px);
    margin-top: -20px;
    border-radius: 7px 0px 0px 7px;
    width: 40px;
    -webkit-box-shadow: inset 40px 0px 20px -20px rgba(255, 255, 255, .9);
    -moz-box-shadow: inset 40px 0px 20px -20px rgba(255, 255, 255, .9);
    box-shadow: inset 40px 0px 20px -20px rgba(255, 255, 255, .9);
    position: relative;
    z-index: 5;
    padding: 93px 10px;
}

#played-songs #left .left, #played-songs #right .right {
    color: #53646d;
    border: none;
    background-color: transparent;
}

#played-songs #right .right:hover, #played-songs #left .left:hover {
    color: #25333c;
}

#played-songs #right {
    float: right;
    height: calc(100% + 40px);
    margin-top: -20px;
    border-radius: 7px 0px 0px 7px;
    width: 40px;
    -webkit-box-shadow: inset -40px 0px 20px -20px rgba(255, 255, 255, .9);
    -moz-box-shadow: inset -40px 0px 20px -20px rgba(255, 255, 255, .9);
    box-shadow: inset -40px 0px 20px -20px rgba(255, 255, 255, .9);
    position: relative;
    z-index: 5;
    padding: 93px 10px;
}

#played-songs .right.disabled, #played-songs .left.disabled {
    color: #84939b !important;
    cursor: not-allowed;
}

#played-songs-container {
    height: 160px;
    z-index: 1;
    position: absolute;
    float: left;
    left: -125px;
    transition: all .3s;
}

#played-songs-container > div {
    display: inline-block;
}

#played-songs-container .song-item {
    height: 160px;
    width: 160px;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

#played-songs-container .song-item ul {
	height: 30px;
	padding-left: 20px;
	margin-top: 7px;
}

#played-songs-container .song-item ul li {
	display: inline-block;
	height: 100%;	font-size: 24px;
}

#played-songs-container .song-item ul li a {
	color: #a9a9a9;
}

#played-songs-container .ImageWrapper {
    border-radius: 5px;
}

#played-songs-container .song-item .ImageOverlayH {
    z-index: 20;
    border-radius: 5px;
}

#played-songs-container .song-item.running-extract {
    z-index: 10;
    position: relative;
    height: 160px;
    width: 160px;
    border: 2px solid #bbe7cd;
    padding: 38px;
    border-radius: 5px;
}

#played-songs-container .song-item.next-extract {
    z-index: 10;
    position: relative;
    height: 160px;
    width: 160px;
    border: 2px solid #d3d9dd;
    padding: 38px;
    border-radius: 5px;
    background-color: #d3d9dd;
}

#played-songs-container .song-item img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: relative;
    z-index: 300;
}

#played-songs-container .song-item .song-info {
    width: 152px;
    height: 46px;
    opacity: .7;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #090f13;
    position: relative;
    z-index: 20;
    margin-top: -50px;
    margin-left: 4px;
    padding: 10px;
    line-height: 1;
}

#played-songs-container .song-item .song-info .StyleK {
    top: -25px;
    position: absolute;
    left: 0;
    width: 100%;
}

#played-songs-container .song-item .song-info .song-name {
    font-size: 14px;
    color: #ebefef;
}

#played-songs-container .song-item .song-info .artist-name {
    font-size: 11px;
    color: #83939b;
}

@media (max-width: 1600px) {
    #messenger {
        right: 0px !important;
    }
}

/*equalizer styles*/
.visualizer {
    position: absolute;
    z-index: 1;
    top: 175px;
    left: 10px;
    right: 0;
}

.visualizer .eqItem {
    width: 1px !important;
    background-color: rgba(255, 255, 255, .5) !important;
    margin-top: 0 !important;
}

.eqItem {
    width: 1px !important;
    background-color: rgba(255, 255, 255, .3) !important;
    margin-top: 0 !important;
}

.eqCol {
    width: 7px !important;
}

.visualizer-mirror {
    position: absolute;
    z-index: 1;
    top: 297px;
    left: 0px;
    right: 10px;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2)
}

